---

import Layout from "../layouts/Layout.astro";
import {type PokemonList} from "../interfaces/pokemon-response.interface";
import PokemonCard from "../component/PokemonCard.astro";

const titulo = "Main layout"

const resp = await fetch('https://pokeapi.co/api/v2/pokemon')
const data: PokemonList = await resp.json() as PokemonList
console.log(data)
---

<Layout title={titulo}>

	<h1 class="text-3xl text-blue-500">
		Listado
	</h1>
	<div class="flex shrink-0 flex-wrap justify-center p-1.5">

	{data?.results?.map((pokemon) => (<PokemonCard name={pokemon.name}  url={pokemon.url}/> ))}
	</div>

</Layout>
